*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-img{
    width: 100%;
    height: 100vh;
    background-image: url('./image/bgimagesign.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.logo{
    margin: 10px 10px;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25px);
    backdrop-filter: blur(15px);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5px);
    border-right: 1px solid rgba(255, 255, 255, 0.5px);
    border-radius: 20px;
    box-shadow: 0px 25px 50px rgba(0,0,0,0.1);
}
.login h2{
    width: 100%;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #fc0ead;
}
.login .inputbox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 1.25em;
    color: #080808;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}
.login .inputbox input::placeholder{
    color:  #fc0ead;
    font-size: 17px;
}
#btn{
    position: relative;
    border: none;
    outline: none;
    color: white;
    background-color:  #fc0ead;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}
@media only screen and (max-width:  600px) {
    #btn{
        display: block;
    }
    .bg-img{
        display: block;
    }  
    .login .inputbox input{
        display: block;
    }    
    .login{
        display:block;
    }


}
#btn:hover{
    background-color:  #cc0efc;
}
.bottom-content{
    display: flex;
    justify-content: space-between;
}
.bottom-content a{
    font-size: 1.25em;
    color:  #64224ee7;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
}